#logo-container {
    width: 100%;
    background-color: white;
    height: 30px;
    border-bottom: 5px solid #FF5154;
    margin-bottom: 10px;
}

#logo-container > img {
    border: 5px solid white;
}

.error-message {
    color: red;
}

.post-content {
    resize: none;
}

.flash {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 9999;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.banner-error {
    background-color: #f7be16;
}

.banner-success {
    background-color: #216583;
    color: white;
}

.register-form {
    position: relative;
}

.navbar {
    border-radius: 0 !important;
}

html body {
    background: #f0f0f0;
}

a {
    color: inherit;
}

.btn-red {
    background: #F0544F !important;
    color: #F0F0F0 !important;
}

.btn-red:hover {
    background: #FF5154 !important;
    color: #F0F0F0 !important;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    text-align: right;
}

.btn-custom {
    border-radius: 25px !important;
    width: 100% !important;
    font-size: 12pt;
    background: #f0f0f0;
}

.btn-custom:hover {
    background: #fff;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin: 10px;
    content: "Upload";
}

.btn-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-sm {
    font-size: 8pt !important;
}

.image-icon32 {
    width: 32px;
}

.image-icon64 {
    width: 64px;
    padding: 10px;
    background: #ff5154;
}

.image-icon128 {
    width: 128px;
    padding: 10px;
    background: #f0544f;
}

.decoration {
    height: 100%;
    background: url('../img/decoration.png');
    background-position: 80% 50%;
    background-repeat: no-repeat;
}

.jumbotron:hover a {
    display: block;
}

.jumbotron a {
    margin-top: 20px;
    display: none;
}

.banner {
    background: #f0544f;
    height: 350px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.navbar {
    background: #FFF;
}

.newButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 38px
}

.login-footer {
    position: absolute;
    bottom: 20px;
    color: #fff;
}

.login-footer ul {
    list-style: none;
}

.signup .decoration {
    background-position: 50% 0px !important;
    background-size: cover;
}

.dot {
    height: 70px;
    width: 70px;
    background-color: #ebebd3;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

li.dot.active,
li.line.active {
    background-color: #ff5154 !important;
    font-weight: bold;
    color: #fff !important;
    font-size: 12pt;
}

.btn-follow:after {
    z-index: 9999;
    content: 'Follow';
}

.btn-unfollow {
    background: gold;
}

.btn-unfollow:after {
    z-index: 9999;
    content: 'Unfollow';
}

.popover {
    z-index: 9999;
}

.panel .panel-title a:hover {
    text-decoration: none;
}

.profile-picture > .button {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    bottom: 0px;
    padding: 5px;
    background: gold;
    display: none;
}

.profile-picture:hover > .button {
    display: block;
}

.profile-picture > .button > a:hover {
    text-decoration: none;
}

a.unlike {
    color: #fff !important;
    background: red;
}

.picture_content {
    width: 100%;
}

#PhotoSetupForm div.file {
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#PhotoSetupForm div.file span {
    cursor: pointer;
}

.post-rec .profile-rec {
    top: 15px;
}

.profile-dropdown .profile-rec {
    top: 15px;
    left: 55px;
}

.post-content a {
    color: blue;
}

.hashtag {
    color: #fff;
    line-height: 20px;
    font-weight: bold;
}

.trend-tabs {
    background: #fff;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    line-height: 45px;
}

.tab-link {
    list-style: none;
    display: inline-block;
}

.tab-link li {
    float: left;
    padding: 0px 10px;
}

.tab-link li.active,
.tab-link li:hover {
    border-bottom: 3px #f0544f solid;
}

.tab-link li a {
    color: #d3d3d3;
}

.tab-link li.active a {
    color: #f0544f !important;
    font-weight: bold;
}

.footer-btn a:hover {
    color: inherit;
}


/*
#modalMsg .profile-rec {
    top: 35px;
    left: 30px;
}

#modalMsg textarea {
    height: 100px !important;
}

#modalMsg {
    top: 10%;
}
*/

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #dcdcdc;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: 45vh auto;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* New Post ***************************/

#ajaxModal .profile-rec {
    top: 35px;
    left: 30px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


/* Thread  ***************************************/

.modal-body {
    /*        width: 70%;*/
    /*        min-height: 300px;*/
    margin-bottom: -30px;
}

.modal-body > .profile-rec > .profile-name > .profile-user {
    color: gray;
}

.modal-body > .post-content {
    font-size: 24pt;
    min-height: 200px;
    padding-bottom: 100px;
    word-break: break-word;
    word-wrap: break-word;
}

.modal-body > .profile-rec > .profile-name {
    color: #000;
}

.modal-body > .post-content {
    margin-top: 20px;
}

.modal-body textarea,
.modal-footer textarea {
    height: 32px;
}

.modal-body .post-action {
    padding: 10px;
    height: 50px;
    border-top: 1px solid #000;
    border-top-style: dotted;
    position: absolute;
    bottom: 0px;
    width: 80%;
    margin-top: 20px;
}

.modal-body .footer-btn {
    bottom: auto;
    top: 0;
    right: -10px;
}

.modal-footer > .comment-box {
    text-align: left;
}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec > .profile-name > .profile-user,
.comment-box > .profile-rec > .profile-name > .profile-user {
    color: gray;
}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec > .profile-name,
.comment-box > .profile-rec > .profile-name {
    margin-left: 50px;
    margin-top: 5px;
    color: #000;
}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec > .profile-bubble,
.comment-box > .profile-rec > .profile-bubble {
    width: 35px;
    height: 35px;
}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec > .profile-bubble > img,
.comment-box > .profile-rec > .profile-bubble > img {
    width: 30px;
    height: 30px;
}

.comment-box > .profile-rec {
    top: 0px !important;
}

.comment-box > .comment-body {
    padding-left: 90px;
    padding-top: 25px;
    min-height: 50px;
}

.comment-box > .comment-body > .comment-action {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #000;
    border-top-style: dotted;
}

.comment-box > .comment-body > .sub-comment-1 {}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec {
    position: relative;
    top: 0px !important;
    left: 0px !important;
}

.comment-box > .comment-body > .sub-comment-1 > .profile-rec > .profile-name {}

.comment-box > .comment-body > .sub-comment-1 > .sub-comment-1-body {
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 29vw;
    word-wrap: break-word;
}

.modal-footer .footer-btn {
    bottom: auto;
}

.modal-body .btn-link {
    color: gray;
}

.modal-body .btn-link:hover {
    text-decoration: none;
    color: gray;
}


/* image upload modal **************************************/

.image-select input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.image-select-2 input {
    position: absolute;
    z-index: 999;
}

.image-select input:active + .image-select-icon {
    opacity: 1;
}

.image-select input:checked + .image-select-icon {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.image-select-icon {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 128px;
    height: 128px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.image-select-icon:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

span.cc {
    color: #6d84b4
}

.gallery li img {
    width: 33%;
    height: 100%;
    display: inline;
    float: left;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}

.gallery ul {
    list-style: none;
    display: inline-block;
}

.gallery li img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}




/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .login {
        width: 400px;
        position: absolute;
        top: 20%;
        text-align: center;
    }

    .decoration {
        background-position: 80% 50%;
        background-size: 150% 100%;
    }

    .banner {
        height: 200px;
    }

    .profile-picture {
        margin: 0 auto;
        text-align: center;
        margin-top: -25%;
    }

    .profile-picture img {
        background: #fff;
        padding: 10px;
        border: 5px solid #ebebd3;
    }

    .account-name {
        text-align: center;
    }

    .jumbotron button {
        display: block;
        position: absolute;
        bottom: -150px;
        visibility: hidden;
    }

    .jumbotron button span {
        color: #fff;
        visibility: visible;
    }


}



/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .decoration {
        background-size: 100% 100%;
    }

    .error-login {
        padding-bottom: 5%;
    }

    .has-error {
        background-color: #fcfcf9 !important;
    }

    .login {
        margin-top: 7%;
    }

    .signup {
        width: 75vw;
        min-height: 80vh;
        margin: 0 auto;
        background: #fcfcf9;
        margin-top: 5%;
    }


    .signup-form {
        padding-top: 3%;
    }

    /*
.error {
    background: #ff5154;
    color: #FFF;
    height: 50px;
    text-align: center;
}
*/
    /* Text */
    .text-error {
        font-style: italic;
        color: red;
    }


    /* Image */
    .profile_default {
        border: 1px solid #000;
        padding: 10px;
        height: 150px !importants;
        width: 150px !important;
    }


    .nav-tabs li a:hover {
        background-color: #ff5154 !important;
        font-weight: bold;
        color: #fff !important;
    }

    .nav-tabs > li.active > a:hover {
        color: #555 !important;
        background-color: #fff !important;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
        font-weight: normal;
    }

    ul.steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .steps li {
        float: left;
    }

    li.line {
        margin-top: 30px;
        height: 10px;
        width: 26%;
        line-height: 50px;
        background-color: #ebebd3;
    }

    /** Post **/
    .post-area {
        width: 100%;
        height: 150px !important;
        padding-left: 100px;
        padding-top: 30px;
    }

    .profile-rec {
        position: absolute;
        /*
    top: 50px;
    left:30px;
*/
        display: inline;
    }



    .profile-bubble {
        position: absolute;
        height: 75px;
        width: 75px;
        background: #fff;
        background-size: cover;
        background-position: 2px 5px;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 3px solid #ebebd3;
    }
    .profile-name {
        margin-left: 80px;
        margin-top: 10px;
        display: inline-block;
        font-weight: bold;
        color: #ebebd3;
        font-weight: bold;
    }

    .profile-bubble > img {
        position: absolute;
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    .navbar .nav .fa {
        font-size: 24pt;
    }

    .navbar .nav input {
        background: #ebebd3;
    }

    .navbar .dropdown a:hover,
    .dropdown a:visited {
        text-decoration: none;
    }

    .navbar .nav li {
        padding: 10px;
    }

    .navbar .dropdown-menu {
        width: 200px;
        padding-top: 0;
        margin-top: 15px;
        margin-left: 10px;
    }

    .navbar .dropdown-menu:after {
        content: "";
        position: absolute;
        right: 0px;
        top: -17px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17px 17px 17px;
        border-color: transparent transparent #ff5154 transparent;
        z-index: 9998;
    }

    .navbar .dropdown-menu li {
        padding: 0;
    }

    .navbar .dropdown-menu li a {
        display: block;
    }


    .navbar .profile-dropdown {
        margin: 0;
        padding-top: -10px !important;
        background: #ff5154;
        height: 100px;
    }
    .profile-picture {
        position: absolute;
        top: -150px;
        left: -150px;
        background: #fff;
        border: 5px solid #ebebd3;
    }
    .profile-picture > img {
        margin: 0;
        width: 164px;
    }

    .profile-picture > input {}

    .account-name {
        position: absolute;
        top: -90px;
        left: 40px;
        font-style: italic;
        color: #FFF;
    }

    .account-name > h4 {
        color: lightgray;
        line-height: 8px;
    }


    .navbar-right {
        padding-right: 50px;
    }

    .navbar-right ul li {
        padding-right: 10px;
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background: #FFF;
        border: none;
        color: #000;
    }

    nav {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(171, 147, 171, 1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(171, 147, 171, 1);
        box-shadow: 0px 0px 20px 0px rgba(171, 147, 171, 1);
    }

    .stats {
        width: 100%;
        height: 50px;
        background: #FFF;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(171, 147, 171, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(171, 147, 171, 1);
        box-shadow: 0px 0px 10px 0px rgba(171, 147, 171, 1);
    }

    .stats-list li {
        float: left;
        list-style: none;
        padding: 7px;
        padding-right: 20px;
        width: 200px;
    }

    .stats-list button:focus {
        outline: 0;
    }

    .stats-list button:active {
        outline: none;
        border: none;
    }




    .timeline {
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
        min-height: 500px;
    }

    .tagging {
        margin-top: -10px;
    }

    .post-rec {
        padding: 10px;
        margin-top: 10px;
        position: relative;
        background: #FFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        border-top: 3px solid #f0544f;
    }

    .post-rec .profile-user {
        color: gray;
        font-size: 8pt;
    }

    .post-rec:hover {
        cursor: pointer;
        background: #f5f5f5;
    }

    .post-rec:hover > .post-header > .side-hover > .back,
    .post-rec:hover > .side-hover > .back {
        display: block;
    }

    .post-rec:hover > .post-header > .side-hover > .front,
    .post-rec:hover > .side-hover > .front {
        display: none;
    }

    .post-header > .profile-name {
        margin-top: 0;
        color: #000;
    }

    .side-hover > .back {
        display: none;
    }

    .post-content {
        position: relative;
        min-height: 70px;
        padding-left: 100px;
        padding-bottom: 10px;
        margin-top: -20px;
        font-size: 18pt;
        word-break: break-word;
        word-wrap: break-word;
    }

    .post-header {
        height: 50px;
        padding: 10px;
        padding-left: 20px;
    }

    .post-footer {
        border-top: 1px solid gray;
        border-top-style: dotted;
        border-top-width: 80%;
        position: relative;
        bottom: 0;
        padding: 10px;
        ;
    }

    .comment {
        width: 68%;
        height: 32px;
        resize: none;
        min-height: 10px;
        overflow: hidden;
        box-sizing: border-box;
    }

    span.footer-btn {
        position: absolute;
        right: 0;
        bottom: 15px;
    }


    .info {
        background: #fff;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .info2 {
        margin-top: 10px;
    }

    .accounts {
        position: relative;
    }

    .follow {
        position: absolute;
        top: -100px;
    }

    .side-info {
        margin-right: 10px;
    }



    .tabs {
        margin-top: 60px;
        background: #fff;
        padding: 10px;
    }

    .tab-content {
        min-height: 75vh;
    }

    .post-box,
    .account-box {
        margin: 5px;
        height: 100px;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .post-box:hover,
    .account-box:hover {
        cursor: pointer;
        background: #d3d3d3;
    }

    .post-box .profile-rec,
    .account-box .profile-rec {
        position: static;
    }
    .post-box .profile-name,
    .account-box .profile-name {
        color: #000;
    }
    .post-box .profile-name .profile-user,
    .account-box .profile-name .profile-user {
        color: dimgray;
    }

}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

