<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
          <h1>
        <div id="<?php //echo $key; ?>Message" class="<?php //echo !empty($params['class']) ? $params['class'] : 'message'; ?>"><?php //echo $message; ?></div>
          </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
